{% extends 'base.html' %}

{% block title %}
  Change Password | CSAS Portal
{% endblock %}

{% block staticfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
{% endblock %}

{% block body %}
  
  <div class="form-content">
    <form method="post" action="/change_password">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            New Password:<input type="text" class="form-control form-input" id="password" name="password" />
            Confirm Password:<input type="password" class="form-control form-input" id="confirm_password" name="confirm_password" />
          </div>
        </div>
      </div>
      <br /><br />
      <button type="submit" class="btn btn-success btn-lg">Change</button>
      <button type="reset" class="btn btn-primary btn-lg">Reset</button>
    </form>
  </div>
{% endblock %}
