{% extends 'base.html' %}

{% block title %}
  Phase 1 | CSAS Portal
{% endblock %}

{% block staticfiles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block body %}
  {% if personalform.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="form_errors">
        {% for key, value in personalform.errors.items %}
          {{ key }} : {{ value }}
        {% endfor %}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <div class="form-content">
    <form method="post" action="/personal_detail">
      <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            <h2>Personal Details:</h2>
            <br />
            <p>
              NOTE: <br />
              Enter Date of Birth in the format of: 'YYYY-MM--DD'. Enter Mobile Number in the format of: '+91**********'
            </p>
            <br />
            {% csrf_token %}
            {{ personalform.as_p }}
          </div>
        </div>
      </div>
      <br />
      {% if not progress.personal_detail %}
        <button type="submit" class="btn btn-success btn-lg">Save and Next</button>
        <button type="reset" class="btn btn-primary btn-lg">Reset</button>
      {% endif %}
    </form>
    <br />
    {% if progress.personal_detail %}
      <a href="/education"><button class="btn btn-success btn-lg">Next</button></a>
      <a href="phase1"><button class="btn btn-danger btn-lg">Exit</button></a>
    {% endif %}
  </div>
{% endblock %}
